body{
	margin-left:auto;
	margin-right:auto;
	background-color:#F5C87F;
	background-image:url("foodimage/DSCN3416.JPG");
	background-size:cover;
	background-repeat:no-repeat;
	width:800px;
}

header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
	line-height:20px;
}

ul{
	float:left;
	width:80%;
}

li{
	float:left;
	list-style:none;
	padding-left:60px;
	font-size:25px;
	vertical-align:baseline;
}

img{
	height:50px;
	width:170px;
	float:left;
}

a{
	color:white;
	text-decoration:none;
}

.lions{
	border-bottom:7px solid navy;
}

.hawks{
	 border-bottom:7px solid yellow;
}

.dragons{
	border-bottom:7px solid blue;
}

.giants{
	border-bottom:7px solid orange;
}

.carp{
	border-bottom:7px solid red;
}


.main1{
	margin-top:80px;
}


h1{
	font-family:cursive;
	text-align:center;
	font-size:50px;
	color:red;
}

p{
	font-size:18px;
	font-family:serif;
	padding-left:30px;
	color:orange;
}

.table2{
	width:100%;
	margin-top:50px;
	font-family:serif;
}

strong{
	font-size:25px;
}

.status{
	font-size:20px;
	background-color:skyblue;
	color:white;
	width:100%;
}


.control{
	font-size:20px;
	background-color:limegreen;
	color:white;
}
