body{
	background-color:#F5C87F;
	margin-left:auto;
	margin-right:auto;
	width:600px;
	background-image:url("foodimage/DSCN0952.JPG");
	background-size:cover;
	background-repeat:no-repeat;
}

.explain{
	width:100%;
}

.explain h1{
	text-align:center;
	font-family:cursive;
	font-size:40px;
}
.explain p{
	padding-left:20px;	
	padding-top:20px;
	font-size:20px;
	font-family:serif;
}

.result{
	border:1px solid black;
	padding-top:20px;
	margin-top:20px;
	background-color:white;
	padding-left:50px;
	height:1070px;
}

.image{
	margin-top:15px;
}

.image-1{
	display:inline-block;
	width:20%;
	margin-left:13px;
	margin-top:30px;
}

.image img{
	height:100px;
	width:100%;
}

h2{
	font-size:25px;
}

span{
	color:red;
}

.product{
	margin-top:30px;
}

.price{
	margin-top:30px;
}

.datetime{
	margin-top:30px;
}

.name{
	margin-top:30px;
}

.order{
	text-align:center;
	margin-top:30px;
	float:left;
	width:50%;
	margin-bottom:30px;
}

.order .bestellen{
	height:50px;
	width:120px;
	font-size:35px;
	background-color:skyblue;
	color:white;
	border:1px solid black;
}

.order1{
	float:left;
	text-align:center;
	width:50%;
	margin-top:30px;
	margin-bottom:30px;
}

.order1 .verstellen{
	height:50px;
	width:120px;
	font-size:15px;
	background-color:lime;
	color:white;
	border:1px solid black;
	font-weight:bold;
}
