body{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background-color:#F5C87F;
}

header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
}

.tableFirst{
	text-align:center;
}

img{
	height:40px;
	width:60%;
}

td{
	width:15%;
}

a{
	color:white;
}

h1{
	text-decoration:underline;
	text-align:center;
	font-size:40px;
	margin-top:80px;
}

p{
	font-size:25px;
}

table{
	width:100%;
}
