body{
	margin-left:auto;
	margin-right:auto;
	background-color:#F5C87F;

}


header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
	line-height:20px;
}

ul{
	float:left;
	width:80%;
}

li{
	float:left;
	list-style:none;
	padding-left:50px;
	font-size:25px;
	vertical-align:baseline;
}

img{
	height:50px;
	width:170px;
	float:left;
}

a{
	color:white;
	text-decoration:none;
}

.lions{
	border-bottom:7px solid navy;
}

.hawks{
	 border-bottom:7px solid yellow;
}

.dragons{
	border-bottom:7px solid blue;
}

.giants{
	border-bottom:7px solid orange;
}

.carp{
	border-bottom:7px solid red;
}

.main1{

	height:100px;
	background-color:white;
	margin-top:80px;
	border:2px dotted black;
}

h1{
	font-family:cursive;
	text-align:center;
	float:left;
	width:80%;
	font-size:50px;
	line-height:40px;
}


form{
	float:right;
	width:20%;
	text-align:center;
}

form button{
	background-color:skyblue;
	height:50px;
	width:100px;
	margin-top:15px;
	border:1px black solid;
	color:white;
	font-size:15px;
}

.table2{
	width:100%;
	margin-top:40px;

}

.list{
	color:white;
	text-align:center;

}

.list2{
	background-color:white;
	font-family:serif;
}
