body{
	background-color:#F5C87F;
	width:600px;
	margin-left:auto;
	margin-right:auto;
}

header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
	line-height:20px;
}

ul{
	float:left;
	width:75%;
}

li{
	float:left;
	list-style:none;
	padding-left:70px;
	font-size:25px;
	vertical-align:baseline;
}

img{
	height:50px;
	width:170px;
	float:left;
}



a{
	color:white;
	text-decoration:none;
}

.lions{
	border-bottom:7px solid navy;
}

.hawks{
	 border-bottom:7px solid yellow;
}

.dragons{
	border-bottom:7px solid blue;
}

.carp{
	border-bottom:7px solid red;
}

h1{
	font-weight:bold;
	font-size:50px;
	font-family:cursive;
	text-align:center;
	margin-top:80px;
}

p{
	font-size:20px;
	font-family:serif;
}

.editform{
	border:1px black solid;
	background-color:white;
	width:100%;
	padding-top:30px;
}

.editform input{
	height:30px;
	margin-left:20px;
	font-size:20px;
}

.username{
	margin-bottom:30px;
}

.email{
	margin-bottom:30px;
}

.address{
	margin-bottom:30px;
}

.tel{
	margin-bottom:30px;
}

span{
	font-size:30px;
	font-weight:bold;
	margin-left:20px;
	font-family:"Arial";
}

.edition{
	margin-top:50px;
	text-align:center;
	margin-bottom:50px;

}


.edition input{
	background-color:#4597F5;
	color:white;
	height:50px;
	font-size:25px;
	border:1px solid black;
	width:100px;
}

.complete{
	color:red;
	text-align:center;
}

button{
	font-size:20px;
	background-color:#E07581;
	color:white;
	margin-bottom:50px;
	height:50px;
}

.home{
	text-align:center;
}
