body{
	background-color:#F5C87F;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	background-image:url("foodimage/DSCN1745.JPG");
	background-repeat:no-repeat;
	background-size:cover;
}


header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
	line-height:20px;
}

ul{
	float:left;
	width:75%;
}

li{
	float:left;
	list-style:none;
	padding-left:70px;
	font-size:25px;
	vertical-align:baseline;
}

img{
	height:50px;
	width:170px;
	float:left;
}



a{
	color:white;
	text-decoration:none;
}

.lions{
	border-bottom:7px solid navy;
}

.hawks{
	 border-bottom:7px solid yellow;
}

.dragons{
	border-bottom:7px solid blue;
}

.carp{
	border-bottom:7px solid red;
}

h1{
	font-size:45px;
	margin-top:80px;
	text-align:center;
	font-family:cursive;
	font-weight:bold;
	color:orange;
}

p{
	font-size:20px;
	font-family:serif;
	padding-left:30px;
	color:white;
}

.accord{
	width:100%;
	height:300px;
	background-color:white;
	border:1px solid black;
}

span{
	font-weight:bold;
	font-size:28px;
	margin-left:50px;
}

.username{
	margin-top:30px;
}

.username input{
	height:20px;
	margin-left:20px;
	border:1px solid black;
}

.password{
	margin-top:30px;
}

.password input{
	height:20px;
	margin-left:25px;
	border:1px solid black;
}

.delete{
	margin-top:60px;
	text-align:center;
}

.deletion{
	color:white;
	background-color:#4597F5;
	font-size:25px;
}

.complete{
	color:red;
}

.error{
	color:red;
	text-align:center;
}


