body{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	background-color:#F5C87F;
}

header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
	line-height:20px;
}

ul{
	float:left;
	width:75%;
}

li{
	float:left;
	list-style:none;
	padding-left:70px;
	font-size:25px;
	vertical-align:baseline;
}

img{
	height:50px;
	width:170px;
	float:left;
}



a{
	color:white;
	text-decoration:none;
}

.lions{
	border-bottom:7px solid navy;
}

.hawks{
	 border-bottom:7px solid yellow;
}

.dragons{
	border-bottom:7px solid blue;
}

.carp{
	border-bottom:7px solid red;
}

h1{
	font-family:cursive;
	text-align:center;
	font-size:50px;
	margin-top:80px;
}

p{
	font-size:18px;
	font-family:serif;
	padding-left:30px;
}

.tableSecond{
	width:100%;
}

.sub{
	color:white;
}

.bild{
	background-color:skyblue;
	font-size:20px;
	color:white;
	border:1px solid black;
}
