body{
	background-color:#F5C87F;
	margin-left:auto;
	margin-right:auto;
	width:600px;
}

.explain{
	width:100%;
}

.explain h1{
	text-align:center;
	text-decoration:underline;
}
.explain p{
	padding-left:20px;	
	padding-top:20px;
}

h2{
	font-size:15px;
}

span{
	color:red;
}