body{
	background-color:#F5C87F;
	
}

header{
	top:0px;
	left:0px;
	width:100%;
	background-color:#85E024;
	height:50px;
	position:fixed;
}

table{
	text-align:center;
}

img{
	height:40px;
	width:60%;
}

td{
	width:15%;
}

a{
	color:white;
}

.main1{
	margin-top:80px;
	width:100%;
	height:200px;
	text-align:center;
}

.main1 h2{
	font-size:20px;
	text-align:left;
	padding-left:40px;
}

.main1 .account{
	color:red;
	font-size:20px;
}

.main1 h1{
	font-size:30px;
	margin-top:50px;
}

.black{
	color:black;
}

.red{
	color:red;
}

.yellow{
	color:yellow;
}

.main1 p{
	font-size:20px;
	text-align:left;
	padding-left:40px;
	font-family:serif;
	margin-top:50px;
}

.main2{
	width:100%;
	border-bottom:1px solid black;
}

.main2-2{
	display:inline-block;
	width:25%;
	margin-top:100px;
	height:200px;
}

.image{
	width:100%
	height:100px;
	text-align:center;
}

.image img{
	height:150px;
	width:200px;
}

.product{
	width:100%;
	font-size:25px;
	text-align:center;
	margin-top:10px;
	font-family:"Impact";
}

.price{
	width:100%;
	font-size:25px;
	text-align:center;
	margin-top:10px;
	font-family:"Impact";
}

.option{
	width:100%;
	font-size:20px;
	text-align:center;
	margin-top:10px;

}

.option select{
	height:20px;
	width:35px;
}



.main4{
	width:100%;
	height:50px;
	text-align:center;
	margin-top:100px;
}

.main4 input{
	font-size:30px;
	background-color:skyblue;
	color:white;
	height:50px;
	width:100px;
	border:1px solid black;
}

.main5{
	margin-top:100px;
	margin-bottom:40px;
}

.main5 h1{
	font-family:cursive;
	text-align:center;
	font-size:45px;
	margin-bottom:60px;
}

.main5 p{
	font-size:25px;
	margin-left:50px;
	padding-top:15px;
	font-family:serif;
}

footer{
	line-height:50px;
	width:100%;
	background-color:black;
	color:white;
	height:60px;
	text-align:center;
	font-size:30px;
	font-family:serif;
	bottom:0px;
	left:0px;
}